<div class="modal bnr-modal fade" id="uploadStudentsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
             <div class="row">
                <div class="col-xs-10">
                  <h2 id="time-status">Upload Students</h2>        
                </div>
                <div class="col-xs-2">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
              </div>
          </div>
          <div class="modal-body modal-spa" id="create-class-div">
    	      <div class="row">
    	        <div class="col-xs-6">
    	          <h4></h4>
    	        </div>
    	      </div>
    	      <div class="row">
    	      	<div classs="col-md-3">
    	      		<div class="quiz-form">
            	        <%= form_tag add_employee_companies_path, multipart: true do %>
            	          <%= file_field_tag :file, class:'btn btn-logout' %><br>
            	          <%= hidden_field_tag :company_id, @company.id %>
                        <%= submit_tag "Import",class:'btn btn-default'%>
    	       	        <% end %>
    	          </div>
    	      	</div>
    	      </div>
         </div>
      </div>
    </div>
  </div>
